$uil-classes: () !default;

$uil-classes: map-merge( (
  builder: 'ui-layouter-js',
  row: 'ui-layouter-js__row',
  column: 'ui-layouter-js__column',
  empty: 'ui-layouter-js__empty',
  item: 'ui-layouter-js__item',
  preview: 'ui-layouter-js__preview',
  dragging: 'ui-layouter-js__dragging',
  dragover: 'ui-layouter-js__dragover'
), $uil-classes );

$uil-dropzone-size: 7px !default;
$uil-dropzone-color: rgba(#000, 0.1) !default;
$uil-dropzone-active: rgba(#000, 0.2) !default;
$uil-dropzone-radius: 5px !default;

$uil-gutter: 10px;

@function uil-class($name) {
  @return map-get($uil-classes, $name);
}

@mixin uil-el($name, $selector: '.') {
  $class: uil-class($name);
  #{$selector}#{$class} {
    @content;
  }
}

@include uil-el('builder') {
  &, * {
    &, &:before, &:after {
      box-sizing: border-box;
    }
  }

  @include uil-el('row') {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-right: -($uil-gutter/2);
    margin-left: -($uil-gutter/2);
    margin-top: $uil-gutter;
    margin-bottom: $uil-gutter;


    @include uil-el('empty', '&.') {
      min-height: $uil-dropzone-size;
      background-color: $uil-dropzone-color;
      opacity: 0;
      padding: 0;
      margin: 0;
      border-radius: $uil-dropzone-radius;

      @include uil-el('dragover', '&.') {
        background-color: $uil-dropzone-active;
      }
    }

    @include uil-el('column') {
      flex-basis: 0;
      flex-grow: 1;
      min-width: 0;
      max-width: 100%;
      padding-left: $uil-gutter;
      padding-right: $uil-gutter;
      position: relative;

      @include uil-el('empty', '&.') {
        max-width: $uil-dropzone-size;
        background-color: $uil-dropzone-color;
        padding: 0;
        margin: 0;
        opacity: 0;
        border-radius: $uil-dropzone-radius;

        @include uil-el('dragover', '&.') {
          background-color: $uil-dropzone-active;
        }
      }
    }
  }

  @include uil-el('dragging', '&.') {
    @include uil-el('row') {
      @include uil-el('empty', '&.') {
        opacity: 1;
      }
      @include uil-el('column') {
        @include uil-el('empty', '&.') {
          opacity: 1;
        }
      }
    }
  }

  // Single item on stage. Only styles item if no other classes exist
  [class="#{uil-class('item')}"] {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;

    padding: 5px;
    border-radius: 3px;
    background-color: pink;
    text-align: center;
    overflow: hidden;

    .handle {
      width: 20px;
      background-color: rgba(#000, 0.1);
      position: relative;
      min-height: 2px;
      margin: -5px;
      margin-right: 5px;
      cursor: move;
    }
  }

  // Preview
  @include uil-el('preview') {
    position: fixed;
    z-index: 999;
    pointer-events: none;
    display: block;
    width: 200px;
    background-color: #ddd;
    border: 1px solid #ccc;
    padding: 5px 10px;
    box-shadow: 0 5px 10px -3px rgba(#000, 0.2);
    opacity: 0.7;
    border-radius: 3px;
  }

}
